*{
	margin: 0;
	padding: 0;
}

body {
	/*background-image: url('background-image.jpg');*/
	background-color: red;
}

p,h2,h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 14px;
}

.box {
	margin-top: 45px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.box1,.box2,.box3 {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

div.box1:hover, div.box2:hover, div.box3:hover {
	margin-top: -40px;
	box-shadow: 4px 4px grey;
	padding: 20px;
	border-radius: 25px;
	zoom: 108%;
}

.top {
	text-align: center;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	height: 60px;
	padding: 30px;
	background-color: #0000FF;
	color: white;
}

h3 {
	font-size: 18px;
	padding: 8px;
}

.text {
	background-color: white;
	padding: 30px;
	height: 200px;

}

.text p {
	padding-bottom: 15px;
}

.select {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	text-align: center;
}

.select h2 {
	padding: 20px;
}

.button {
	
	align-self: center;
	margin-top: 20px;
	text-decoration: none;
	text-align: center;
	border: 2px solid blue;
	padding: 8px 24px;
	border-radius: 8px;
}

a:hover {
	background-color: blue;
	color: white;
}

.bottom {
	background-color: white;
	text-align: center;
	padding: 20px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.bottom p {
	padding: 8px;
	color: #808080;
}

img {
	width: auto;
	height: 16px;
	margin-right: 6px;
}

span {
	font-size: 20px;
	position: absolute;
	bottom: 80px;
	left: 130px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 15px;
	padding-right: 25px;
	color: blue;
	background-color: white;
	border-radius: 70%;
}

.popular {
	transform: skewY(35deg);
}

